/* --- HEADER --- */


/* --- SERVICIOS --- */
.subtitulos{
	font-family:sans-serif;
	color:#81b5fd;
	text-align: center;
	margin-bottom: 100px;
}
.marcos i {
	border-radius: 100px;
	height: 250px;
	width: 250px;
	padding: 50px;
	border:2px solid black;
	margin-bottom: 100px;
}

i{
	font-size: 50px;
	color: #81b5fd;
}
.marcos{
	margin-bottom: 20px;
}
.marcos h3{
	margin-top: 100px;
}
.video{
	width: 100%;
}
.ejemplo img{
	width: 70%;
	height: 20px;
	margin:0 auto;
}
.ejemplo .sepa{
	width: 100px;
	height: 50px;
	margin-left: 35%;
}
.ejem{
	margin-bottom: 100px;
	margin-top: 100px;
}
.opa{
	background: rgba(43,42,43,0.3)
}
.sec2{
	background-image: url(../image/sec-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 450px;
	margin-top: 0px;
	float: left;
}

.ic{
	display: inline-block;
	z-index: 1;
	margin-left: 20%;
	padding-top: 25%;
}
.marcoicono{
	border-radius: 100px;
	width: 100px;
	height: 100px;
	position: relative;
	z-index: 1;
	background-color: #81b5fd;
	margin-bottom: 10px;
}
.marcoicono i{
	color: white;
}
.marcogeneral{
	position: absolute;
	margin-top: 30px;
	margin-left: 500px;
}
.sep img{
	margin-left: 550px;
	margin-top: 10px;
}

/*
jumbotron:fondo gris
thumbnail:borde gris
carousel-control:sombra sobre imagenes
carousel-indicators: cambio de puntero a manito;
tooltip-inner: fondo negro;
panel:sombre borde inferior


*/



/* --- EJEMPLO --- */


/* --- LO QUIERO --- */


/* --- POR QUE USAR --- */


/* --- PRUEBA --- */

/* --- FOOTER --- */